footer {
  padding: 50px 20px;
  text-align: center;
  color: #9a9a9a;
}

.icons .fa {
  font-size: large;
  margin-bottom: 20px;
  color: #5380c1;
}

ul.icons li {
  display: inline;
  text-align: center;
}

ul.icons a {
  text-decoration: none;
}
